body{
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.arrow{
  position: fixed;
  bottom: 30px;
  left: 320px;
  z-index: 200;
}

.transparent {
  display: none;
}
#messege{
  height: 100vh;
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
}


#star{
  width: 7vw;
  position: fixed;
  top: 30px;
  left: 320px;
  z-index: 200;
}

#xBtn{
  width: 7vw;
  position: absolute;
  top: 30px;
  left: 320px;
  z-index: 200;
}

/* Intro */
#IntroContainer{
  height: 100vh;
  background-image: url('assets/background1.png');
  background-size: cover;
  position: relative;
}

#mainLogo{
  width: 80px;
  position: absolute;
  top: 20px;
  left: 20px;
}

#IntroContainer section{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#IntroContainer #logo{
  width: 90vw;
  position: absolute;
  top: 52px;
}



#IntroContainer section img{
  width: 70vw;
  top: 200px;
  position: absolute;
}

#IntroContainer section p{
  font-size: 1.2rem;
  text-align: center;
  line-height:25px;
  top: 535px;
  color: #FFD42A;
  font-weight: 800;
  position: absolute;
  -webkit-text-stroke: 0.8px black;
}

/* lettuce1*/
#lettuce1Container{
  position: relative;
}

#youtubeBack{
  z-index: 1;
  width: 375px;
display: inline-block;
}

#container1{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 280px;
}

#container iframe{
  width: 100vw;
  height: auto;

}

#youtubeBar{
  width: 100vw;
  position: absolute;
  bottom: 173px;
  left: 0;
  z-index: 5;
}

/* lettuce2*/
#lettuce2Container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#block{
  width: 70vw;
  height: 40vh;
  background-color: #000000;
  color:#01DF74;
  font-size: 15px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  word-break: break-all;
  padding: 10px;
  display: flex;
}

#EnterLastpage{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

#EnterLastpage img{
  width: 80vw;
}

/* ------ 이미지 페이지들  ------*/
#lettuceCapImgs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 30px;
  height: 100vh;
}

#fame{
  position: fixed;
  text-align: center;
  width: 100vw;
  z-index: 400;
}
#lettuceCapImgs img{
  height: 50vh;
}

#gointroBtn{
   position: fixed;
    border: none;
  bottom: 30px;
  left: 150px;
  background-color: transparent;
  font-size: 20px;
  font-weight: 800;
  color: #FFD42A;
  -webkit-text-stroke: 0.8px black;


}

#BeingLettuce {
  border: none;
  color: white;
  background-color: #01DF74;
  padding: 10px 20px;
  border-radius: 20px;
}

#NotBeingLettuce{
  border: none;
  color: #01DF74;
  background-color: white;
  padding: 10px 20px;
  border-radius: 20px;
  border: 1px solid #01DF74;
}